@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}
a {
  font-family: "TeX Gyre Heros Condensed";
  font-size: 17px;
  font-weight: bolder;
  color: #acacac;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  color: #464646;
}
